---
layout: "page"
title: "Zufriedene Kunden"

generator: "pagination"
provider: "site.kunden"
max_page: 9
sort_by: "date"
---
<div class="page-header smaller">
	<h1>Kunden</h1>
</div>
<div class="container">
	<hr class="breaker">
	<h2 class="text-center">Überzeugte Kunden <small>Von A bis Z</small></h2>

	<div class="customer">
		{% for produkt in page.pagination.items %}
			<div class="customer-box">
				<h2 class="bold">{{ produkt.title }}</h2>
				<p>{{ produkt.description }}</p>
				<a href="{{ produkt.link }}" class="ref-product" target="_blank">
					Zeig' mal
				</a>
			</div>
		{% endfor %}
	</div>
</div>

{% include "paginator.html" %}
